<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<header>
  <a href="@{/admin/admin}"><h3>Home</h3></a>
  <form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
  </form>
</header>
<a href="@{'/admin/moviesAdmin'}"><h1>Movies</h1></a>
<a href="@{'/admin/screeningsAdmin'}"><h1>Screenings</h1></a>
<a href="@{'/admin/hallsAdmin'}"><h1>Halls</h1></a>
<a href="@{'/admin/reservationsAdmin'}"><h1>Reservations</h1></a>
</body>
</html>