<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halls</title>
</head>
<body>
<header>
    <a href="@{/admin/admin}"><h3>Home</h3></a>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</header>
<h1>List of Halls:</h1>
<a href="/hallCreate">Add new movie</a>
<ul>
    <li th:each="hall : ${halls}">
        <a th:href="@{'/hallDetail/' + ${hall.id}}"><span th:text="${hall.desc}"></span></a>
    </li>
</ul>

</body>
</html>