<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<header>
    <a th:href="@{/admin/admin}"><h3>Home</h3></a>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</header>
<h1>List of movies:</h1>
<a th:href="@{/admin/movieCreateAdmin}">Add new movie</a>
<ul>
     <li th:each="movie : ${movies}">
         <a th:href="@{'/admin/movieDetailAdmin/' + ${movie.id}}"><span th:text="${movie.title}"></span></a>
     </li>
</ul>

</body>
</html>