<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reservation Detail</title>
</head>
<body>
<header>
  <a th:href="@{/admin/admin}"><h3>Home</h3></a>
  <form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
  </form>
</header>
<h1>Reservation details</h1>
<a th:href="@{'/admin/reservationEditAdmin/' + ${id}}">Edit Reservation</a>
<a th:href="@{'/admin/reservationDeleteAdmin/' + ${id}}">Delete Reservation</a>
<table>
  <tr>
    <td>Movie Title</td>
    <td th:text="${reservation.screening.movie.title}"></td>
  </tr>
  <tr>
    <td>Hall</td>
    <td th:text="${reservation.screening.hall.desc}"></td>
  </tr>
</table>
</body>
</html>