<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <a th:href="@{/home}"><h3>Home</h3></a>
    <a th:href="@{/admin/admin}"><h3>Access Admin</h3></a>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</header>
<h1>Screenings</h1>
<ul>
    <li th:each="screening: ${screenings}">
        <form th:action="@{'/reservationSave/' + ${screening.id}}" method="post">
            <button type="submit"><span th:text="${screening.movie.title + ' ' + screening.hall.desc}"></span></button>
        </form>
        <!--<a th:href="@{'/reservationSave/' + ${screening.id}}"></a>-->
    </li>
</ul>
<h1>Reservations</h1>
<ul>
    <li th:each="reservation : ${reservations}">
        <a th:href="@{'/reservationDetail/' + ${reservation.id}}"><span th:text="${reservation.screening.movie.title + ' ' + reservation.screening.hall.desc + ' reserved'}"></span></a>
    </li>
</ul>
</body>
</html>