<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" /></head>
<body>
<header>
    <a href="@{/home}"><h3>Home</h3></a>
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</header>
<main>
<table>
    <tr>
        <td>Movie Title</td>
        <td th:text="${movie.title}"></td>
    </tr>
</table>
<ul>
    <li th:each="screening : ${screenings}">
        <a th:href="@{'/reservationSave/' + ${screening.id}}"><span th:text="${screening.hall.desc}"></span></a>
    </li>
</ul>
</main>
</body>
</html>